<header>
    <div class="header">
        <div class="wrap">
            <div>
                <a href="#" class="log-out">{{logOut | uppercase}}</a>
            </div>
            <div>
                <a href="#" class="manage-account">{{manageAccount | uppercase}}</a>
            </div>
            <div>
                <a href="#" class="upgrade-account">{{upgradeAccount | uppercase}}</a>
            </div>
        </div>
    </div>
</header>
<section class="student-data">
    <table class="table">
        <tr>
            <td>Enter first name:</td>
            <td><input type = "text" ng-model = "student.firstName"></td>
        </tr>
        <tr>
            <td>Enter last name: </td>
            <td><input type = "text" ng-model = "student.lastName"></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>{{student.fullName() | uppercase}}</td>
        </tr>
    </table>
</section>
