<header ng-controller="HeaderController">
    <div class="header">
        <div class="wrap">
            <div ng-repeat="item in headerMenu">
                <a href="#" class={{item.class}}>{{item.name | uppercase}}</a>
            </div>
        </div>
    </div>
</header>
<section class="main-page">
    <div class="container navigation-btns-container">
        <button type="button" ng-repeat="button in navigationBtns track by $index" class={{button.class}} ui-sref="{{button.route}}" ng-class="activeIndex === $index ?  'active': '' " ng-click="setCurrentIndex($index)">
            {{button.name | uppercase}}
            <span class={{button.spanClass}}></span>
        </button>
    </div>
</section>

